/*
 * Self-hosted variable fonts (Latin subset), both SIL Open Font License 1.1.
 * Licences sit beside the files in src/assets/fonts/.
 * One file per family covers every weight from 100 to 900.
 */

@font-face {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../assets/fonts/epilogue-latin-wght-normal.woff2") format("woff2-variations");
}

@font-face {
  font-family: "Hanken Grotesk";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../assets/fonts/hanken-grotesk-latin-wght-normal.woff2") format("woff2-variations");
}
